.App-header {
  margin: 30px 0;
  font-family: "Montserrat", sans-serif;
}

.App h1 {
  max-width: 400px;
  text-align: center;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  color: #4cd1a5;
}
.App-footer {
  margin: 30px 0;
  font-size: 14px;
}
